article {
    display: grid;
    align-content: center;
    justify-content: center;
    width: 100%;
    height: auto;
    grid-template-areas: 
    "header header"
    "nav nav"
    "main aside" 
    "footer footer";
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 200px 20% 300px 20%;
}

header {
    grid-area: header;
    background-image: url("images/World-Map-PNG-Photo.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 700px 190px;
    width: 100%;
    height: auto;
}

nav {
    grid-area: nav;
}

main {
    grid-area: main;
}

aside {
    align-content: center;
    justify-content: center;
    grid-area: aside;
}

footer {
    grid-area: footer;
}

header,
main,
nav,
footer {
    padding: 30px;
}